body {
	background-image: linear-gradient(
		68.2deg,
		rgba(255, 202, 88, 1) 0%,
		rgba(139, 73, 255, 1) 100.2%
	);
}

h3 {
	text-align: center;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1px;
}
.reset {
	margin: 10px 10px;
}

.container {
	margin: auto auto;
	border: 2px solid black;
	display: grid;
	width: 600px;
	height: 600px;
}

.rows {
	display: flex;
}

.columns {
	flex: 1;
	display: flex;
	border: 1px dotted grey;
}

.toggle-button {
	margin-left: 15px;
	color: black;
}

.color-mode {
	text-align: center;
	justify-content: center;
	margin-left: 40px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
	margin: 15px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
